{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./server",
                    "~": "./client/src"
                }
            }
        ]
    ]
}
